*{
	margin: 0px;
	padding: 0px;
}

body{
	background-image: linear-gradient(#190e21,#480b0b);
    overflow: auto;
        font-family: 'Heebo', sans-serif;   
    font-weight: bolder;

}
#container{
	width: 74%;
	border-style: solid;
	margin: 0px auto;
    overflow: auto;

}
header{
	height: 100%;
	width: 100%;
	line-height: 100px;
	text-align: center;
	margin: 0px;
	color: white;
}

nav {
    background: rgba(116, 14, 14, 0.35);
	margin: 10px;
	line-height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
	padding-left: 30px;
    
	border: 1px solid black;
}
a{
    background: none;
	color: white;
    text-decoration: none;
    padding: 20px;
    width: 25%;
    text-align: center;
}
a:hover{
    background: #190e21;
    color: white;
}
.perfil{
	height: 200px; 
	width: 150px;
	padding-top: 10px;
	display:block;
}
img{
	transition: all 0.5s ease;
    text-align: center;
    box-shadow: 7px 13px 37px #000;
}
img:hover{
	transform: scale(0.9);
	
}
.clearfix{
	clear: both;
}

#content{
	float: left;
	width: 70%;
	min-height: 300px;
    text-align: center;
    color :white;
	/*background: grey;*/
}
aside{
	padding-top: 10px;
	float: right;
	width: 30%;
	min-height: 300px;
}

footer{
	line-height: 50px;
	background-image: linear-gradient(#190e21,white);
    text-align: center;
	color: black;
}
